.navbar {
    background-color: #008080;
    border-color: black;
}

.navbar-brand{
	font-size: 40px;
	font-family: serif;
	color: white;
	margin-right: 50px;
}

.nav-link{
	color:white;
}


.form-inline{
	margin-left: 50px;
}
